html, body {
  font-family: 'Roboto', sans-serif;
}

.demo-avatar {
  width: 72px;
  height: 72px;
  border-radius: 24px;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.demo-drawer {
  border: none;
}


/* iOS Safari specific workaround */

.demo-drawer .mdl-menu__container {
  z-index: -1;
}

.demo-drawer .demo-navigation {
  z-index: -2;
}


/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.mdl-layout__header-row {
  background-color: #263238;
  color: white;
}

.mdl-layout__header .mdl-layout__drawer-button {
  width: 32px;
  height: 32px;
  margin-top: 14px;
  background-color: #263238;
  color: white;
}

.demo-navigation {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  height: 64px;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: #fff;
  margin-right: 32px;
}

h3 {
  font-weight: 400;
  color: #263238;
  margin-top: 50;
}

h5 {
  font-family: 'Roboto';
  font-weight: 300;
  color: #484848;
  -webkit-margin-start: 16px;
  -webkit-margin-end: 16px;
}

h6 {
  font-weight: normal;
  font-size: 20px;
  -webkit-margin-start: 38px;
  -webkit-margin-end: 38px;
  margin-top: 16px;
}

p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  -webkit-margin-start: 38px;
  -webkit-margin-end: 38px;
}

a {
  color: #00BCD4;
}

.demo-list-icon {
  width: 300px;
}

.mdl-list {
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.mdl-list__item {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
}

.btn-floating.btn-large {
  margin-bottom: 20px;
}

.btn-floating.btn-large i {
  background-color: #00BCD4;
}

.jdslogo {
  width: 200px;
  height: 200px;
  fill: #263238;
}


/* work lists */

.demo-list-three {
  width: inherit;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
  display: -webkit-box;
}

#workex {
  padding-top: 50px;
  padding-bottom: 50px;
}

#skills {
  font-size: 16px;
  font-weight: 300;
}

.mdl-progress {
  width: 250px;
  margin-left: 16px;
}

#extras {
  font-weight: 300;
  font-size: 16px;
  line-spacing: 2em;
}


/* Image cards */

.demo-card-wide.mdl-card {
  width: 100%;
  margin-top: 32px;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/gallery/one.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}

#gallery {
  margin-top: 56px;
}


/* Blog Cards */

.demo-card-wide.mdl-card {
  width: 98%;
  margin-left: 10px;
  margin-right: 10px;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/blog/books.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}


/* Reveal card */

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card p{
  margin-left: 0px;
  margin-top: 10px;
}

.animate-in-01 {
    animation:animateIn 1s ease;
    -webkit-animation:animateIn 1s ease;
}
.animate-in-02 {
    animation:animateIn 1s ease forwards;
    animation-delay:.2s;
    -webkit-animation:animateIn 1s ease forwards;
    -webkit-animation-delay:.2s;
    opacity:0;
}
.animate-in-03 {
    animation:animateIn 1s ease forwards;
    animation-delay:.4s;
    -webkit-animation:animateIn 1s ease forwards;
    -webkit-animation-delay:.4s;
    opacity:0;
}
.animate-in-04 {
    animation:animateIn 1s ease forwards;
    animation-delay:.5s;
    -webkit-animation:animateIn 1s ease forwards;
    -webkit-animation-delay:.5s;
    opacity:0;
}
.animate-in-05 {
    animation:animateIn 1s ease forwards;
    animation-delay:.6s;
    -webkit-animation:animateIn 1s ease forwards;
    -webkit-animation-delay:.6s;
    opacity:0;
}
@keyframes animateIn {
    0%{
        opacity:0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}
@-webkit-keyframes animateIn {
    0%{
        opacity:0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.animate-in-image {
    animation:animateInImage 1s ease;
    -webkit-animation:animateInImage 1s ease;
}
@keyframes animateInImage {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@-webkit-keyframes animateInImage {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.animate-in-card {
    animation:animateIn .7s ease;
    -webkit-animation:animateIn .7s ease;
}

.form{
  width: 100%;
}
