html,body{
  font-family: 'Roboto', sans-serif;
}

.demo-avatar{
  width: 72px;
  height: 72px;
  border-radius: 24px;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.demo-drawer {
  border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.mdl-layout__header-row{
  background-color: #263238;
  color: white;
}

.mdl-layout__header .mdl-layout__drawer-button {
  width: 32px;
  height: 32px;
  margin-top: 14px;
  background-color: #263238;
  color: white;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  height: 64px;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: #fff;
  margin-right: 32px;
}

h3 {
    font-weight: 400;
    color: #263238;
    margin-top: 50;
}

h5{
  font-family: 'Roboto';
  font-weight: 300;
  color: #484848;
  -webkit-margin-start: 16px;
  -webkit-margin-end: 16px;
}

h6{
  font-weight: normal;
  font-size: 20px;
  -webkit-margin-start: 38px;
  -webkit-margin-end: 38px;
  margin-top: 16px;
}

p{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  -webkit-margin-start: 38px;
  -webkit-margin-end: 38px;
}

a{
  color: #00BCD4;
}

.demo-list-icon {
  width: 300px;
}

.mdl-list{
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.mdl-list__item{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
}

.btn-floating.btn-large{
  margin-bottom: 20px;
}

.btn-floating.btn-large i{
  background-color: #00BCD4;
}

.jdslogo{
  width: 200px;
  height: 200px;
  fill:#263238;
}

/* work lists */

.demo-list-three {
  width: inherit;
}

.mdl-list__item--three-line .mdl-list__item-text-body{
  display: -webkit-box;
}

#workex{
  padding-top: 50px;
  padding-bottom: 50px;
}

#skills{
  font-size: 16px;
  font-weight: 300;
}

.mdl-progress{
  width: 250px;
  margin-left:16px;
}

#extras{
  font-weight: 300;
  font-size: 16px;
  line-spacing: 2em;
}

/* Image cards */

.demo-card-wide.mdl-card {
  width: 97%;
  margin-top: 32px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/gallery/one.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
