.jds-spinner {
  width: 100%;
  height: 100%;
  background: url('../images/preloader.gif') center no-repeat #FFF;
  z-index: 99999;
  position: fixed
}

body {
  margin: 0;
  font-family: 'Hind', serif
}

::selection {
  background: honeydew
}

::-moz-selection {
  background: honeydew
}

#particles-js{
  height: 100%;
  margin-top: 100px;
}

#logo {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 30px
}

#logo .b {
  stroke: midnightblue;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out
}

#logo:hover .b {
  stroke: springgreen;
  fill: midnightblue;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out
}

.navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center
}

.navbar ul li {
  display: inline;
  margin: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.navbar a {
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  color: midnightblue;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: midnightblue;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.navbar a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

.navbar a:hover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

#menu-icon {
  display: none;
  height: 40px;
  width: 40px;
  background: url(../images/menu.svg) center no-repeat
}

.container {
  width: 100%;
  height: 900px;
  background: springgreen;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out
}

.container:hover {
  background: lawngreen;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out
}

.home-text {
  position: absolute;
  bottom: 70px;
  left: 70px;
  width: 55%;
  color: midnightblue
}

.home-text h3 {
  float: left;
  font-size: 3rem;
  margin-bottom: 10px;
}

.home-text h4 {
  float: left;
  font-size: 1.5rem;
  margin-top: 10px
}

.porthead {
  height: 400px;
  width: 100%;
  color: midnightblue;
  background-size: cover;
  background-repeat: no-repeat
}

#deterge {
  background-image: url(https://dl.dropboxusercontent.com/s/vftf6zyggbw8x0q/cover.jpg?dl=0)
}

#coleve {
  background-image: url(https://dl.dropboxusercontent.com/s/uz5qjmanwi4666a/cover.png?dl=0)
}

#logofolio {
  background-image: url(https://dl.dropboxusercontent.com/s/s1r6lwdnwitvijq/cover.jpg?dl=0)
}

.porthead h4 {
  position: absolute;
  font-weight: 300;
  font-size: 40px;
  top: 250px;
  left: 60px
}

.sections {
  -webkit-transition: 300ms;
  transition: 300ms
}

.sections a {
  float: left;
  font-size: 20px;
  padding: 90px 90px 90px 50px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: #fff;
  background: black
}

.section1 a:hover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #8d0380
}

.section2 a:hover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #55aff3
}

.section3 a:hover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: tomato
}

.section4 a:hover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #9e8370
}

.section5 a:hover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #27c1c9
}

.imagesection img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 500px
}

.portsec {
  display: inline-block;
  width: 100%;
  height: 100;
  border-bottom: 1px solid #eee
}

.col {
  display: grid;
  grid-template-columns: 30% 70%
}

.portsec-meta {
  font-size: 15px;
  padding-left: 35%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 25%
}

.portsec-intro {
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%
}

.portsec-text {
  width: 80%;
  padding: 5% 10% 5% 10%
}

.portsec-text h4 {
  letter-spacing: 1px;
  font-weight: 400
}

.portsec-text p {
  font-size: 20px
}

.portsec-text li {
  font-size: 20px
}

.portsec-text a {
  text-decoration: none;
  color: springgreen;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.portsec-text a:hover {
  text-decoration: none;
  color: midnightblue;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.portsec-img {
  display: inline-block
}

.portsec-img img {
  max-width: 100%;
  margin: auto 0;
  padding-top: 2%;
  padding-bottom: 4%
}

.row {
  margin-left: 4.16%;
  margin-right: 4.16%
}

.row p {
  float: right
}

.footer-logo {
  float: left
}

#footer-logo {
  height: 70px;
  width: 70px;
  margin-top: 20px;
  margin-bottom: 20px
}

#footer-logo .b {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  stroke: midnightblue
}

#footer-logo:hover .b {
  stroke: springgreen;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.social ul li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  float: right;
  font-size: 20px
}

.social a {
  color: midnightblue;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.social a:hover {
  color: springgreen;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}

.email {
  position: fixed;
  right: 0;
  bottom: 180px;
  float: right;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 3px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  color: midnightblue;
  font-size: 10px
}

.email a {
  text-decoration: none;
  color: midnightblue;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out
}

.email:hover {
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform: translate(0px, 10px)rotate(90deg);
  transform: translate(0px, 10px)rotate(90deg)
}

::-webkit-scrollbar {
  overflow: visible
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-track-piece:end, ::-webkit-scrollbar-track-piece:start {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: springgreen
}

::-webkit-scrollbar-thumb:window-inactive {
  background: springgreen
}

::-webkit-scrollbar {
  width: 7px
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

@media(max-width:750px) {
  #logo {
    height: 70px;
    width: 70px
  }
  #menu-icon {
    display: inline-block
  }
  #menu-icon:hover {
    -webkit-transition: none;
    transition: none
  }
  .container {
    height: 550px
  }
  .navbar ul, .navbar:active ul {
    display: none;
    position: absolute;
    padding: 10px;
    top: 60px;
    right: 30px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1
  }
  .navbar li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0
  }
  .navbar a {
    font-size: 20px
  }
  .navbar:hover ul {
    display: -webkit-inline-box
  }
  .home-text {
    bottom: 60px;
    left: 50px;
    width: 55%
  }
  .home-text h3 {
    float: left;
    font-size: 2rem;
    margin-bottom: 10px
  }
  .home-text h4 {
    float: left;
    font-size: 1rem;
    margin-top: 10px
  }
  .sections p {
    font-size: 1rem
  }
  .imagesection img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 200px
  }
  .porthead h4 {
    font-size: 30px;
    left: 30px
  }
  .col {
    display: inline
  }
  .portsec-meta {
    padding: 10% 0 0 10%
  }
  .portsec-intro {
    padding: 0 10% 10% 10%
  }
  .email {
    display: none
  }
  #footer-logo {
    display: none
  }
  .social ul li {
    display: inline-flex;
    padding: 4%;
    font-size: 15px;
    float: none;
    margin: auto 0
  }
}
